---
title: 'Don''t Worry: Google Only Checks Your Location Every 10 Minutes'
author: Sebastian Schweer
date: '2018-04-15'
slug: don-t-worry-google-location
thumbnailImagePosition: right
thumbnailImage: https://res.cloudinary.com/dlprdrxib/image/upload/c_thumb,w_200,g_face/v1523790118/google_heatmap_europe_a5rcgh.png
coverImage: https://res.cloudinary.com/dlprdrxib/image/upload/v1523785895/google_heatmap_europe_a5rcgh.png
metaAlignment: center
coverMeta: out
categories:
- data science
tags:
- statistics
- open data
- r
---



<p>I have a personal Google account, complete with gmail, gdrive and everything else. I first opened it up as a sort of spam email for all kinds of logins, but started to it use more and more due to its convenience. I was always slightly worried about the magnitude of data collected by Google on me, yet I never found a way to pinpoint exactly the extent of my slight worrying.</p>
<p>Recently, I discovered <a href="https://en.wikipedia.org/wiki/Google_Takeout">Google Takeout</a>. Everybody with a Google Account can simply click <a href="https://takeout.google.com/settings/takeout">here</a>, follow the instructions and Google Takeout will send all the data it (supposedly) has in a nice little zip folder. Within this zip-folder is a file called “locationhistory.json” (or “standortverlauf.json” for all you German users out there), with entries such as this:</p>
<pre class="r"><code>{
    &quot;timestampMs&quot; : &quot;1523378268382&quot;,
    &quot;latitudeE7&quot; : 494290669,
    &quot;longitudeE7&quot; : 86872541,
    &quot;accuracy&quot; : 34
}</code></pre>
<p>Each of these entries encodes a location measurement taken by Google, with GPS coordinates (latitude/longitude) and a timestamp, which can be converted to a “normal date” by dividing the number by 1000 and using, e.g., <a href="https://currentmillis.com/">this handy site</a>.</p>
<p>The “location history” file is rather large and unwieldy (about 18 MB in my case). There is a very simple and free tool that <a href="https://locationhistoryvisualizer.com/heatmap/">visualizes your location history data in an interactive heatmap</a>. That is the tool I used to create the intro picture to this entry. The heatmap allows you to gauge the precision with which Google matches your movements. For instance, my skiing trip in March last year to <a href="https://www.serfaus-fiss-ladis.at/de">Serfaus-Fiss-Ladis</a> shows up like this:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1523785896/google_heatmap_fiss_hcnim9.png" alt="Don’t worry, I also down some slopes during the vacation…" />
<p class="caption">Don’t worry, I also down some slopes during the vacation…</p>
</div>
<p>There are some mistakes in this map, i.e., places that I have surely never visited. I was never in “Gasthaus zum weißen Lamm”, I know that for a fact. However, the detail is quite astonishing, leading me to the next question: How often does Google measure and store my location data? My “locationhistory.json” contains 59293 observation over the course of 465 days, so that, on average, there are more than 5 measurements <em>per hour</em>.</p>
<p>I decided to look a little closer at the distributions of the timestamps, using some wonderful ggplot magic (the R code can be found <a href="https://github.com/sebastianschweer/blog_dev/blob/master/content/UTILS/google_location.R">here</a>):</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1523785917/Hourly_overview_google_location_data_th9l6z.png" alt="Such a colorful mountain range." />
<p class="caption">Such a colorful mountain range.</p>
</div>
<p>The lines in the plot show the average number of location measurements taken by Google each hour, separated by weekdays. The dashed line indicates the aveerage over all weekdays. The plot highlights several information:</p>
<ul>
<li>Between noon and 8 pm, Google takes on average more than one location measurement every 10 minutes</li>
<li>In the nighttime, the average number of measurements is only once every 20 minutes</li>
<li>Monday and Tuesday mornings are closely watched with many measurements, especially Tuesday mornings</li>
<li>Afternoons and evenings are always of interest, but especially on Fridday and Saturday.</li>
</ul>
<p>The fact that Monday and Tuesday morning are such exceptions could be explained by my specific calendar in 2017: I worked as a consultant and usually left home on Tuesday morning to travel troughout Germany. I am not entirely sure why this should lead to more measurements, as this activity was rarely accompanied by Google services (I travel by Deutsche Bahn). However, my travel time back home, usually late on Thursday evening, can also be seen quite nicely in the plot.</p>
<p>In total, I am a bit shocked by the sheer magnitude of measurements Google has on me, even (and especially) at times at which I am positively certain that I have never used Google Location Services, (see, e.g., 4 am). I am glad that services like Google Maps exist and that they are so extremely convenient, but the drawback should also be made abundantly clear to anyone who uses these services: many machine-readable aspects of your life are available to a for-profit company.</p>
<img src="https://vg09.met.vgwort.de/na/9b3830e306e0496cb15239c66bfde5c3" width="1" height="1" alt="">
