---
title: My Motivations for Starting a Blog
author: Sebastian Schweer
date: '2018-01-28'
categories:
  - blog
tags:
  - tutorials
slug: my-motivations-for-starting-a-blog
---



<p>Hello world!</p>
<p>My name is Sebastian Schweer, and I am a Data Scientist. This job description is increasingly popular, but it is notoriously difficult to describe precisely, what that entails. Let me show you one of my favourite definitions:</p>
<div class="figure">
<img src="https://twitter.com/hadleywickham/status/914140589565841410" alt="Source." />
<p class="caption">Source.</p>
</div>
<p>My job requires me to spend a lot of time each day writing code in varying languages, mostly <code>R</code> but also Python and SAS. This inevitably leads me to spend a lot of time thinking about both code as well as the process of programming itself. The major question is, as always, “How do you ensure, that your product is of the best quality?”. Recently, I stumbled upon<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> a incredibly concise diagram:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/a_270/v1517091390/skizzeblog_nsrt9u.jpg" alt="The importance of collaboration" />
<p class="caption">The importance of collaboration</p>
</div>
<p>I believe this is an astute observations, and I find its reflections in many daily situations including (but not limited to) producing code or data analyses. More precisely, I identified these 3 consequences of writing code with the intent of publicizing:</p>
<ul>
<li><strong>Tested</strong>: Nobody wants to publish content that only works once or only works on a certain local machine. Thus, any project up for publication automatically gets tested and tried much more meticuously.</li>
<li><strong>Modular</strong>: It is much easier to explain and distribute several single clear ideas than one larger, vague idea. Hence, publication leads to more modular code, creating a more flexible and adaptive code base.</li>
<li><strong>Documented</strong>: It doesn’t suffice if you as the author understand what the function with non-descriptive names such as <code>fn_011_v3</code> does, that should be apparent from the name or at least from the documentation. <em>The onus of understanding the code is transferred from the mind of the author to the body of the code.</em></li>
</ul>
<p>All of these characteristics increase the maturity and quality of the code. Since I am obviously interested in producing high quality work, I started this blog in order to have a public outlet for all my private little programming projects.</p>
<p>The scope of these projects will vary wildly, I am sure, since the inspiration are heterogeneous. For instance, the first three posts have three different “sponsors”:</p>
<ul>
<li>I wrote <a href="/2018/01/setting-up-a-scalable-rstudio-instance-in-aws/">Setting up an RStudio instance on AWS</a> with the audience of my father in mind, since he showed such an interest in my explanations of the topic over the Christmas break,</li>
<li>I wrote (or rather ‘will write’) the post <a href="">A benchmark for dplyr vs. dbplyr</a> for my sister-in-law, since she asked me about the topic and I didn’t know anything about it at the time,</li>
<li>and for the present article, or rather statement, I had <a href="https://twitter.com/christofhorn">my former employer</a> in mind, a great fan of simple but concise diagrams depicting deep thoughts.</li>
</ul>
<p>I appreciate any remarks or comments on anything that I write, and I wish you lots of entertainment perusing my site.</p>
<img src="https://vg09.met.vgwort.de/na/b6dce22ca610455cb972d96daf13fb32" width="1" height="1" alt="">
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>I can’t find the original source anymore, I have spent a long time going through my Twitter feed. If anyone recognizes the slide and especially the author, I would be incredibly thankful for the information and would gladly update the source information here.<a href="#fnref1">↩</a></p></li>
</ol>
</div>
