---
title: Setting up a Scalable RStudio Instance in AWS
author: Sebastian Schweer
date: '2018-01-27'
categories:
  - r
tags:
  - tutorials
  - aws
slug: setting-up-a-scalable-rstudio-instance-in-aws
---



<p>Assume you want to start to write <code>R</code> code (a very good decision, in my opinion) and you want to be able to write and test code whereever you are. Wouldn’t it be awesome if one could set up an environment that can be used for <code>R</code> coding independent of any device? Where all you need is a decent browser, a working internet connection and you’re good to go?</p>
<p>Obviously, that is the case. In this post, I will show you the steps for setting up such an environment on Amazon Web Services (AWS). The main advantages of using such a set-up:</p>
<ul>
<li>Runs on any infrastructure: All you need is a working internet connection, a decent browser and an AWS account, which is usually<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> free.</li>
<li>Runs everywhere: The AWS machine will be set up to automatically clone your GitHub repository (don’t worry if this doesn’t mean anything to you, this point is optional), so that you don’t even have to have your codes on the device.</li>
<li>Scalable: The AWS machine running your code can be chosen to suit any of your needs, in any session. Just playing around with a new package? Use the smallest size, doesn’t cost a dime. Trying to re-create state-of-the-art machine learning performance with a fancy DNN-classifier? Go all in with 500 GB of RAM; it’ll cost ya, but it’s fun.</li>
<li>Up-to-Date: Since the envirionment is freshly installed each time, your <code>R</code> version as well as the package versions in use are automatically up-to-date. In the latter case, that would also be easy to maintain on a local machine, the former, however, is a nice benefit.</li>
</ul>
<p>Convinced? Awesome, let’s get started!</p>
<div id="overview-of-main-steps" class="section level1">
<h1>Overview of main steps</h1>
<p>First a short overview of the main steps covered in this blog post:</p>
<ol style="list-style-type: decimal">
<li>Get an AWS account (duh!),</li>
<li>Configure your RStudio AMI,
<ol style="list-style-type: lower-roman">
<li>Find the right RStudio AMI,</li>
<li>Configure Security Groups,</li>
<li>Automatically Change your RStudio Password,</li>
<li>Incorporate a clone of your GitHub repo,</li>
</ol></li>
<li>Start your First RStudio instance (and bask in its glory),</li>
<li>Create a personal AMI for future convenience,</li>
<li>Shut down the Instance and all Resources.</li>
</ol>
<p>Preconditions for this tutorial should be basically none, at least in terms of coding and/or understanding <code>R</code> itself. The main task will lie in clicking the right buttons.</p>
<div id="step-1-get-an-aws-account." class="section level2">
<h2>Step 1: Get an AWS account.</h2>
<p>Well, it isn’t really my place to tell you how to get an AWS account if Amazon itself did <a href="https://aws.amazon.com/resources/create-account/">such a great job explaining it</a>. Just use the link to set up your account, and I further suggest to follow <a href="https://aws.amazon.com/getting-started/tutorials/launch-a-virtual-machine/">this set of instructions</a>, building your very first instance. Take your time going through these instructions, I’ll wait…</p>
<p>Ready? Alright, sweet. Then we continue with</p>
</div>
<div id="step-2-configure-your-rstudio-ami." class="section level2">
<h2>Step 2: Configure your RStudio AMI.</h2>
<p>In this step, I collected several steps, not all of which are necessary. Steps 2a and 2b are crucial, Step 2c is recommended. Step 2d can be skipped on the first set-up. The implementation of this step can always be re-assessed whenever it becomes necessary.</p>
<p>Let’s begin by starting an instance in the AWS Dashboard. Just open “Instances” on the side menu of your EC2 Dashboard and click on “Launch Instance”:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1517086196/screenshot_launch_instance_ltpbba.png" alt="Here we go!" />
<p class="caption">Here we go!</p>
</div>
<div id="step-2a-find-the-current-rstudio-ami." class="section level3">
<h3>Step 2a: Find the current RStudio AMI.</h3>
<p>The first task is to choose an Amazon Machine Image, or AMI, which is essentially an operating system container. More to the point, in an AMI a Linux distribution can be bundled with addtional software packages tailored to any type of need: web development, accounting (I’m guessing here, but … sure) and, most importantly, using RStudio. <a href="https://www.louisaslett.com/RStudio_AMI/">On Louis Anslett’s homepage</a> you can find a wonderful storage of RStudio AMIs. We use the newest version for the correct geographical zone, in my case Frankfurt:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1516304602/screenshot_louisaslett_eyug44.png" alt="One AMI for each region. Neat" />
<p class="caption">One AMI for each region. Neat</p>
</div>
<p>As you can see, thanks to Louis Anslett’s work, the AMI includes not only the newest version of RStudio but also of <code>R</code> itself as well as a handful of helpful additional software packages. For instance, Git comes pre-installed, which we will use later on; also <code>Julia</code>is installed for those looking to try out the possible future of data science languages. But I’m deviating… Let’s note the AMI-ID (in our case “ami-a80db3c7”), put this in the start-up options and let’s continue.</p>
</div>
<div id="step-2b-configure-the-security-groups-for-your-rstudio-instance" class="section level3">
<h3>Step 2b: Configure the security groups for your RStudio instance</h3>
<p>In AWS, <a href="https://docs.aws.amazon.com/en_en/AWSEC2/latest/UserGuide/using-network-security.html">security groups</a> control the access to the machine over the internet (if you don‘t care about how exactly this works and only want to follow the instructions, just skip the next sentences). More precisely, they define which kind of protocols may use which ports on your machine from a given IP range. For example, you can set the access rights for a ssh protocol to be able to connect to your machine on port 22 only from your personal IP address at home.</p>
<p>In our case, we actually only need access via http protocol, since the RStudio instance will allow log-in via browser interface. Therefore, our security group can be kept quite simple:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1515794260/screenshot_security_group_xy0wkr.png" alt="The bottom option allows the whole world to see the instance. Golly." />
<p class="caption">The bottom option allows the whole world to see the instance. Golly.</p>
</div>
<p>The IP range can be limited to your own personal IP to ensure the safety of your instance. This precaution could be necessary since only the login page of RStudio stands between the internet and your instance (spooky, huh?). However, since the personal IP usually changes each day (roughly speaking), this becomes a personal question of “privacy vs. convenience”. In my case, as you can see, convenience won.</p>
</div>
<div id="step2c" class="section level3">
<h3>2c. Automatically Change your RStudio Password</h3>
<p>In the documentation of the RStudio AMI we can find the following passage: “It is highly recommended you change the password immediately and an easy means of doing this is explained upon login in the script that is loaded there”. Alright, fine, but I’d rather to that programmatically, i.e. automatically. The weirdly named “User data” option provides just the framework: All commands placed here get executed at the beginning of the start-up. You can find this setting in the menu “Configure Instance Details” under “Advanced Details”.</p>
<p>In order to change the password of the user “RStudio” on start-up, we paste the following code:</p>
<pre class="r"><code>#!/bin/bash
echo &quot;rstudio:guest&quot; | chpasswd</code></pre>
<p>where you should replace the password “guest” with whatever you deem appropriate. We are almost done with the set-up now, there only remains</p>
</div>
<div id="step-2d-optional-automatically-clone-a-github-repo" class="section level3">
<h3>Step 2d (optional): Automatically Clone a GitHub repo</h3>
<p>I write all my private code projects on my GitHub account (here: <a href="https://github.com/sebastianschweer" class="uri">https://github.com/sebastianschweer</a>. What a shameless self-plug!) and I also would like my code to be available for me each time I start up my RStudio instance. Fortunately, this is easily configured with “User data” again, by just adding the command</p>
<pre class="r"><code>git clone https://github.com/sebastianschweer/sastibe.git /home/rstudio/sastibe
chmod -R 777 /home/rstudio/sastibe</code></pre>
<p>to the “User data” of <a href="#setp2c">Step 2c</a>. Now, when I start up the new RStudio instance, the repository <code>sastibe</code> gets cloned into the folder <code>/home/rstudio/sastibe</code>, which is automatically loaded in RStudio. The line with <code>chmod</code> ensures that any user (not just root, who is executing this command at startup) has the rights to alter content in that folder. This permission allows me to change code and pushing my changes to the repository and all that, which is just super convenient.</p>
</div>
</div>
<div id="step-3-start-your-first-rstudio-instance-and-bask-in-its-glory" class="section level2">
<h2>Step 3: Start your First RStudio instance (and bask in its glory),</h2>
<p>The last and most exciting click is this one:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1516310280/screenshot_finish_launch_jdqvec.png" alt="Hooray, all the hard work pays off!" />
<p class="caption">Hooray, all the hard work pays off!</p>
</div>
<p>We have now started the instance. This means that a virtual machine, configured according to our specifitcations is being run on one of Amazon’s bajillion<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a> cloud computing servers. In the menu “Instances” we now see an active instance running. After we are done, we will use this menu to shut it down again (so that it doesn#t cost us), but not now: we are eager to test it out! Accessing the instance is quite easy in our case: Just copy the “IPv4 Public IP” adress and paste it in your browser:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1517085751/screenshot_publicip_sjmc6c.png" alt="Green lights indicate the instance runs harmoniously." />
<p class="caption">Green lights indicate the instance runs harmoniously.</p>
</div>
<p>Hopefully, you haven’t forgotten your password (check <a href="#step2c">Step 2c</a> if you did), your username is “rstudio”. After succesful login, you’ll be greeted by this screen:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1517085281/screenshot_rstudio_running_ss7eqo.png" alt="The login to a world of wonder." />
<p class="caption">The login to a world of wonder.</p>
</div>
<p>Et voilà: Your very own scalable RStudio instance, accessible world-wide and ready to use at all times. In other words: Congratulations, you now have a state-of-the-art Data Science Machine at your command. Use it wisely. If you want to see what kind of wonders you can do with this setup, check out the <a href="2018-03-10-benchmarking-aws-instances.html" >upcoming blog post</a>. Otherwise, let me just point you towards another <a href="https://www.kaggle.com/rtatman/getting-started-in-r-first-steps">wonderful introduction</a>.</p>
</div>
<div id="step-4-create-a-personal-ami-for-future-convenience" class="section level2">
<h2>Step 4: Create a personal AMI for future convenience</h2>
<p>Now, Step 3 consisted of 4 different steps, and it would be ratehr inconvenient to have to repeat these steps each time you need a new RStudio instance, right? Luckily, AWS has got you covered: You can create an “image” of any AWS instance: simply put, this saves your current configuration for later use. The creation of such an image is straightforward: Just go to “Instances” in your AWS Dashboard, right-click on the machine you want to base the image on and select “Create Image”:</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1517086580/screenshot_createAMI_vx0esq.png" alt="Locate Create Image in the menu of Instance Settings" />
<p class="caption">Locate “Create Image” in the menu of “Instance Settings”</p>
</div>
<p>After this step, you will find the created image in the menu AMIs, ready to reuse. Before you go do crazy and wonderful Data Science in your wonderful new Environment, though, it is essential that you let me tell you about</p>
</div>
<div id="the-last-step-after-each-aws-usage-shutting-down" class="section level2">
<h2>The Last Step (After Each AWS Usage): Shutting Down</h2>
<p>An AWS instance doesn’t shut down by itself, or go into hibernation or anything like that. It just keeps running unless otherwise specified, eventually costing lots of money (even the free tier services have their prices after some limit). So, let me show you how to shut down your brand new machine. It’s quite simple, just right-click on the running instance and set the “Instance State” to “Terminate”.</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1516310583/screenshot_terminateinstance_el4vj8.png" alt="Show no mercy, terminate!" />
<p class="caption">Show no mercy, terminate!</p>
</div>
<p>Since our instance also automatically loaded an EBS volume (like a hard disk to save data), we need to shut that down too. Choose the entry EBS volumes in the sidepane and <em>Detach</em> all volumes that are active. If your overview in the pane “Dashboard” looks similar to this :</p>
<div class="figure">
<img src="https://res.cloudinary.com/dlprdrxib/image/upload/v1516310279/screenshot_clean_dashboard_cqhspn.png" alt="5 volumes: make sure that they are not in-use, since storage may also cost after some initial period" />
<p class="caption">“5 volumes”: make sure that they are not in-use, since storage may also cost after some initial period</p>
</div>
<p>There are no hidden services running racking up costs.</p>
</div>
</div>
<div id="summary" class="section level1">
<h1>Summary</h1>
<p>After configuring your AWS environment as decried above, your new ‚Data Science Workflow‘ can look like this:</p>
<ol style="list-style-type: decimal">
<li>Log in to AWS,</li>
<li>Choose your personal RStudio AMI,</li>
<li>Choose the Necessary Specifications of the Machine,</li>
<li>Log in to the Machine in the Browser,</li>
<li>Do Awesome Data Science,</li>
<li>Shut Down Machine and all Resources.</li>
</ol>
<p>Have fun, and remember: Primere non nocere!</p>
</div>
<img src="https://vg09.met.vgwort.de/na/633e38e3c0c64d7ba80ca16d5975252b" width="1" height="1" alt="">
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>For a given value of usually. I personally try to test out lots of resources just because I can, yet even so, my total expenses for AWS result in 0.37€ (January 2018).<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>A rough estimate. Maybe only bajillions.<a href="#fnref2">↩</a></p></li>
</ol>
</div>
